ENABLE_TELEGRAM_NOTIFY=1
ENABLE_LARK_NOTIFY=1

TELEGRAM_BOT_TOKEN=123456789:replace_with_your_bot_token
TELEGRAM_CHAT_ID=-1001234567890
TELEGRAM_FORUM_TOPICS=1
TELEGRAM_MAX_OUTPUT_CHARS=3000
TELEGRAM_PERMISSION_NOTIFY_DELAY=5000

LARK_APP_ID=cli_xxx
LARK_APP_SECRET=xxx
LARK_CHAT_ID=oc_xxx
LARK_POLL_INTERVAL_MS=5000
LARK_MAX_OUTPUT_CHARS=3000
